<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoe6WIwgcthSZah6hIjxdT55Fie65NvN0</string>
	<key>GCM_SENDER_ID</key>
	<string>460775438496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makeIt</string>
	<key>PROJECT_ID</key>
	<string>make-it-98abf</string>
	<key>STORAGE_BUCKET</key>
	<string>make-it-98abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460775438496:ios:85620c15a23107b4b2b1c5</string>
</dict>
</plist>